<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoursesData.Properties.Settings.DBCoursesNewConnectionString"
            connectionString="Data Source=DESKTOP-MUG9EQ6\SQLEXPRESS;Initial Catalog=DBCoursesNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>